body{background-image: url("FondoPantallaInicio.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    background-size: cover;
     background-attachment: fixed;}

h1{
    color: red;
    margin-left: 500px;
    font-size: 10em;
}
h3{
    color: red;
    font-size: 1.2em;
}